set imap_user = "user@gmail.com"
set imap_pass = "user123"
set smtp_url = "smtp://user@smtp.gmail.com:587/"
set smtp_pass = "user123"
set from = "user@gmail.com"
set realname = "firstname lastname"
set folder = "imaps://imap.gmail.com:993"
set spoolfile = "+INBOX"
set postponed = "+[Gmail]/Drafts"
set header_cache = ~/.mutt/cache/headers
set message_cachedir = ~/.mutt/cache/bodies
set certificate_file = ~/.mutt/certificates
set move = no
